<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<title>Food Life</title>
	<meta name="theme-color" content="#8bc34a" />
</head>
<body>
	<header>
		<nav class="mobile">
			<ul >
			<li>
				<a aria-label="home" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-grid-1x2-fill" viewBox="0 0 16 16"><path d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z"/></svg></a>
			</li>
			<li>
				<a aria-label="Favorite" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bookmarks-fill" viewBox="0 0 16 16"><path d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5V4z"/><path d="M4.268 1A2 2 0 0 1 6 0h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L13 13.768V2a1 1 0 0 0-1-1H4.268z"/></svg></a>
			</li>
			<li>
				<a aria-label="About Us" href="https://twitter.com/nnivxix"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16"><path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/></svg></a>
			</li>
			</ul>
		</nav>
		<nav class="desktop">
			<h1 class="logo">Food Live</h1>
			<ul class="nav__list">
			<li><a href="#">Home</a></li>
			<li><a href="#">Favorite</a></li>
			<li><a href="https://twitter.com/nnivxix" target="_blank">About Us</a></li>
			</ul>
			<button class="drawer" aria-label="button drawer"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg></button>
		</nav>	
	</header>
	<main class="hero" id="hero">
		<h1>Welcome to Food Live</h1>
		<h2>Ready to Explore the Food Restaurant?</h2>
		<a href="#">Explore</a>
	</main>
	<section class="catalogs">
		<h1 class="cap__trend">Trending Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
		</svg></h1>
		<figure class="card">
			<!-- https://unicode-table.com/en/ => unicode symbol -->
			<img src="../images/heros/hero-image_1.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption>
		</figure>
		<figure class="card">
			<img src="../images/heros/hero-image_2.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption>
		</figure>
		<figure class="card">
			<img src="../images/heros/hero-image_3.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption class="caption">
		</figure>
		<figure class="card">
			<img src="../images/heros/hero-image_2.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption>
		</figure>
		<figure class="card">
			<img src="../images/heros/hero-image_3.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption>
		</figure>
		<figure class="card">
			<img src="../images/heros/hero-image_1.jpg" alt="image 1">
			<figcaption class="caption">
				<h1>Hotel Indah</h1>
				<p>Rating <span>&#9733;</span> 4.6</p>
				<p>Lokasi Ciamis</p>
			</figcaption>
		</figure>
	</section>
</body>
</html>