<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap" rel="stylesheet">
	<title>Food Life</title>
	<link rel="apple-touch-icon" sizes="57x57" href="./icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="./icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="./icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="./icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="./icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="./icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="./icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="./icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="./icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="../icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="./icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./icons/favicon-16x16.png">
	<link rel="manifest" href="manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="../icons/ms-icon-144x144.png">
	<meta name="theme-color" content="#f05945">
	<!-- fav icon generator https://www.favicon-generator.org/ -->
</head>
<body>
	<a class="skip" href="#hero">Skip To Content</a>
	<header>
		<nav class="desktop">
			<h1 class="logo">Food Live</h1>
			<button class="drawer" aria-label="button drawer"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg></button>
			<ul class="nav__list">
				<li><a href="#">Home</a></li>
				<li><a href="#">Favorite</a></li>
				<li><a href="https://twitter.com/nnivxix" target="_blank">About Us</a></li>
			</ul>
		</nav>	
	</header>
	<main class="hero" id="hero">
		<h1 tabindex="0">Welcome to Food Live</h1>
		<h2 tabindex="0">Ready to Explore the Food Restaurant?</h2>
		<a href="#trending">Explore</a>
	</main>
	<section class="catalogs">
		<h1 tabindex="0" id="trending" class="cap__trend">The Trending Restaurant Now <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
		</svg></h1>
	</section>
	<footer tabindex="0">
		<p>Food Live © <span class="year"></span></p>
	</footer>
</body>
</html>